[2022-01-13 14:20] larsks opened #441 "Install valid API certificate"
## Background

Currently the API endpoint is using the OpenShift-generated certificate. This results in certificate errors when tools attempt to connect externally to the OpenShift API.

## Task

We should install a [cert-manager](https://cert-manager.io/docs/) managed certificate so that API connections can be validated without having to trust the OpenShift CA.

See https://docs.openshift.com/con

[2022-01-13 15:24] sesheta commented on #129
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-13 15:24] sesheta commented on #275
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-13 23:15] larsks opened #442 "Introduce resource bundling to apps repository"
[This is a rewrite of #369 intended to make it a better issue for our new interns.]

## Background context

We manage our OpenShift clusters through the [apps][] repository, a collections of Kubernetes [YAML][] manifests that are processed with [Kustomize][] to realize resources in our clusters.

[kustomize]: https://kustomize.io
[yaml]: https://en.wikipedia.org/wiki/YAML
[apps]: https://github.co

[2022-01-14 15:23] sesheta commented on #384
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-14 16:09] HumairAK commented on #129
/remove-lifecycle stale

[2022-01-14 22:45] bryanmontalvan commented on #440
I've figured out how to edit the panels on the home dashboard, however, as we discussed this is only a live change and not one being saved behind the scenes (e.g, if everything is teared down the changes would not be saved). In preparation to getting that part I would like prompt the following questions

**Q1:** What links do you recommend should be added to the landing page?

**Q2:** Do you have

[2022-01-17 14:47] 4n4nd commented on #440
@larsks we do have some of the docs published [here](https://www.operate-first.cloud/apps/content/grafana/README.html). Do you think https://grafana.operate-first.cloud/ should point to these docs instead?

[2022-01-17 16:09] bryanmontalvan commented on #440
The docs are great for learning how to contribute to the dashboards and great links to learn more about software. My only issue is that the goal here is to modify the landing page not adding a new dashboard to the Operate First grafana. A very specific problem which is understandable as to why it is not on the docs.

My question now, is the home dashboard(landing page) modifiable through the code

[2022-01-17 17:57] larsks commented on #440
@4n4nd I think it would be great if the grafana landing page linked to the existing operate-first docs dealing with grafana, yes. I wasn't proposing writing new ones, just that we make things as discoverable as possible.

@bryanmontalvan

In theory you should be able to create a new dashboard following [the docs](https://www.operate-first.cloud/apps/content/grafana/README.html) by creating a new `

[2022-01-17 19:57] carlosGimeno commented on #403
/assign @carlosGimeno

[2022-01-17 20:51] bryanmontalvan commented on #440
/assign @bryanmontalvan

[2022-01-17 21:17] dystewart commented on #411
Adding Reloader annotations to Trino deployments to test Reloader: [1523](https://github.com/operate-first/apps/pull/1523)

[2022-01-18 14:09] mubariskhan96 commented on #439
[This](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits) link seems to be doing a good job at explaining. What do you think? @HumairAK

[2022-01-18 14:17] HumairAK commented on #439
@mubariskhan96 I'm good with that, next step is to identify the area where it's most fruitful to inform users a bout this. I'm thinking the project onboarding docs:

Under "Namespace Quota" [here](https://github.com/operate-first/support/blob/main/.github/ISSUE_TEMPLATE/onboarding_to_cluster.yaml) maybe?

Or the qutoas doc where it links to? Which I just realized is broken (ugh), it ought to link

[2022-01-18 14:26] durandom commented on #439
@mubariskhan96 do you want to try a PR to update the quota docs with the link?

https://github.com/operate-first/apps/blob/master/docs/content/cluster-scope/quotas.md

[2022-01-18 14:41] mubariskhan96 commented on #439
Sounds good! I will open a PR to update it here https://github.com/operate-first/apps/blob/master/docs/content/cluster-scope/quotas.md

[2022-01-18 14:46] mubariskhan96 commented on #439
/assign @mubariskhan96

[2022-01-18 18:06] carlosGimeno commented on #403
After reviewing all of the documents listed above, I found that most of these have already been updated but there are two files that needed to be modified (under the SRE repo, dashboards/readme.md and configure_prometheus_alerts.md). I have also made a PR request with the proposed updates to these 2 files.

[2022-01-19 18:44] anishasthana opened #444 "Introduce burn-rate based alerts for JupyterHub"
This is a rewrite of #129 to make it easier to parse :-)

### Background

[Prometheus](https://prometheus.io/) is de-facto standard for monitoring applications in the cloud native space. One of the core conceits here is the idea of "time-series" data (look at the Prometheus docs to get a better idea) for metrics. At a high level, you can just think of it as a continues series of values for some gi

[2022-01-19 18:46] anishasthana commented on #444
@4n4nd  and myself can help with any questions you come up with / problems you run in to!

[2022-01-19 19:36] HumairAK commented on #403
awesome thanks @carlosGimeno feel free to close this issue once the pr is merged.

[2022-01-19 21:45] carlosGimeno commented on #403
/close

[2022-01-19 21:45] sesheta commented on #403
@carlosGimeno: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/SRE/issues/403#issuecomment-1016895617):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-01-19 21:45] #403 closed

[2022-01-20 09:19] anishasthana commented on #129
@HumairAK should we close this issue out in favour of the new one I created?

[2022-01-20 16:11] HumairAK commented on #129
yep

[2022-01-20 16:11] #129 closed

[2022-01-20 16:27] mubariskhan96 commented on #442
/assign @mubariskhan96

[2022-01-23 09:25] sesheta commented on #348
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-24 14:27] mubariskhan96 commented on #442
I was trying to figure out if there's a way to figure out what resources are associated with a given operator. For example, for two operators with similar sounding name, its hard to tell which resource is for which operator.
Like, in this file https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/smaug/kustomization.yaml:
for the fybrik operator, there are 3 namespaces:

[2022-01-24 19:18] bryanmontalvan commented on #440
@larsks
This is what I have so far for the new home page, I was wondering if I should add anything else. I took the most important panels from each Overview dashboard and compiled they here.

I was thinking maybe to fill in the space for each row, add a text panel with docs or references to understand more what the graphs/panels are detailing?

Live Link:
https://grafana.operate-first.cloud/d/-MbV

[2022-01-24 19:41] larsks commented on #440
The way it's implemented right now, the dashboard only shows information for a single cluster at at a time. What I was proposing was something that shows an overview of *all* clusters.  E.g., for the "Cluster Memory Overview" row, have a series of pie charts, one per cluster, show free memory vs available memory (and so forth for cpu resources, workloads, etc).

[2022-01-25 03:23] sesheta commented on #368
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-25 03:23] #368 closed

[2022-01-25 03:23] sesheta commented on #368
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/SRE/issues/368#issuecomment-1020773008):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-01-25 15:25] sesheta commented on #414
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 18:41] bryanmontalvan commented on #440
@larsks Hey Lars, I made some updates I was wondering if I'm heading in the right direction.
Let me know if I should remove, add, or replace anything. Thanks!

Link: [Welcome Info Dashboard](https://grafana.operate-first.cloud/d/-MbVHvxnz/welcome-info?orgId=1&from=1643135139252&to=1643136039252&var-datasource=default&var-cluster=emea%2Fbalrog)

### Updates
`General`
- Removed variable for specific

[2022-01-26 14:47] larsks commented on #440
I think that's a lot more like I envisioned. There are a few changes I would suggest:

- Replace `master` with `controller` (see e.g. https://www.redhat.com/en/blog/making-open-source-more-inclusive-eradicating-problematic-language)
- I would try to reduce the number of panels. E.g, for the cluster CPU overview, maybe we can have a single panel for each cluster showing available vs. total cores. (

[2022-01-26 15:08] HumairAK commented on #440
I agree with @larsks on reducing the number of panels, I think the cpu/memory overview should be minimal to give a general idea at a quick glance on the state of the cloud. A single panel for each cluster is sufficient.

I would also encourage you to dynamically general queries and panels based on the `cluster` label. If you manually create a panel for each cluster for instance, then everytime we

[2022-01-26 21:54] bryanmontalvan opened #445 "Co-op Project Idea, looking for feedback and insight"
# Update
#### More detailed proposal here
https://github.com/bryanmontalvan/opf-storage-project

## Introduction
Since I will be working in a storage product group in the summer I've been tasked to come up with a project idea related to storage. And since I am doing SRE work, my project idea will revolve around monitoring.

## The Idea
My co-op project will essentially be, expanding the way we cur

[2022-01-27 15:34] chauhankaranraj commented on #445
Hi @bryanmontalvan, this project idea sounds quite interesting! Here's my 2 cents

I'm not sure if you're familiar with this, but the Ceph team has created some public [telemetry dashboards](https://ceph.io/en/news/blog/2020/public-telemetry-dashboards). Maybe this could provide some inspiration / guidance on what metrics could be some interesting to visualize?

One idea could be, to visualize the

[2022-01-27 20:34] bryanmontalvan commented on #445
Hey @chauhankaranraj, thank you so much your feedback is really helpful!
I'l take a look to all the resources you've shared with me!

[2022-01-28 16:40] HumairAK commented on #445
Not sure I understand what this entails. I think it might be more helpful to add more specifics. In my mind, data/visuals that pertain to the health/state of storage services/resources would be very useful. Basically if an SRE is looking at it, we should be able to help answer some questions like:

1) "Is our storage layer in good health?"  (Also, what does it mean to be in "good" health?)
2) "If

[2022-01-28 16:41] HumairAK commented on #445
@larsks may also have additional insight here as he has been most involved with the storage components on `smaug/infra/etc.`.

[2022-01-28 18:41] larsks commented on #445
My only feedback w/r/t storage is to note that we don't actually manage the underlying storage -- at least in the smaug cluster -- which may have implications for what data we can collect. Broadly, I think providing a storage-focused dashboard is a good idea, and I like the idea of a predictable consumption model that could alert users in advance when they may need to expand their storage allocati

[2022-01-28 19:40] hpdempsey commented on #445
I agree that the storage-focused dashboard and a model to alert users about approaching storage limits would be great to have!   After discussing with Bryan, we agreed he should work on the dashboard first (including looking into what dashboards are already available elsewhere).  We have some people from the Red Hat storage group who are also willing to advise.  Probably a good idea to introduce B

[2022-01-28 19:52] larsks commented on #445
I think we would be better off focusing on the information we can get from within openshift without access to the backend. Because we don't manage the storage ourselves, any metrics that come directly from the backend would be of little use to us.

[2022-01-28 20:06] mubariskhan96 opened #446 "Looking for suggestions on Co-op Project Idea"
Hi there,

I will be following @bryanmontalvan   project proposal template. ( Thanks Bryan!)

### Introduction
I will be working with the SRE team during my internship and I'm broadly interested in alerting and monitoring area. I'm looking at enhancing the alerts, monitoring capabilities within Operate First. My internship is going to be until June 10th, but I can leave some work for future also.

[2022-01-28 21:18] hpdempsey commented on #446
Firing too many alerts---the perennial monitoring issue.  This is a great area for your project Mubaris!  I think investigating alternatives to opening Github isseus for alerting is definitely a good idea.  Most ops groups I've worked with have had a tool like Nagios for managing and dispatching alerts that gives you more flexible options.  You would probably get involved some with defining our pr

[2022-01-28 22:52] hpdempsey commented on #445
Starting with OpenShift is OK.  I thought it was also possible to relate Ceph metrics to the OpenShift cluster...

[2022-01-29 12:25] sesheta commented on #364
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-31 13:46] mubariskhan96 commented on #444
This seems like a very interesting issue to me! And is very closely related to my [co-op project](https://github.com/operate-first/SRE/issues/446).  But, I'm working on some other tasks, and I wont be able to start working on this issue till the next couple of days!

[2022-01-31 15:26] sesheta commented on #358
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-31 20:26] HumairAK commented on #358
This is completed by @4n4nd

[2022-01-31 20:26] #358 closed

[2022-01-31 20:57] HumairAK commented on #446
FYI:
@larsks  @4n4nd @Gregory-Pereira

[2022-01-31 21:01] Gregory-Pereira commented on #446
@HumairAK  I will take a look this afternoon. I will gather the links for code in Operate-First related to these projects for them.

[2022-01-31 21:16] HumairAK commented on #446
@Gregory-Pereira I don't think you need to link any code/implementation for now. Rather just give your feedback/thoughts if you have any. Or, just be aware that this project exists :)

[2022-01-31 21:36] carlosGimeno opened #447 "Project Idea (SRE + Security), looking for feedback"
# Introduction + Motivation
Just like @mubariskhan96 or @bryanmontalvan, I will be carrying out a project (basically a meaningful contribution to an open source project) as part of my internship. In my case, I have a particular interest in security and monitoring. With this in mind, I was thinking about doing my project about different ways to improve the security of Operate First from an SRE pers

[2022-01-31 23:24] bryanmontalvan commented on #440
@larsks @HumairAK
I did some more changes, I wanted to get both of your input again to make sure I'm headed in the right direction. Thanks!

Link: https://grafana.operate-first.cloud/d/-MbVHvxnz/welcome-page?orgId=1

`Changes:`

- Reduced panels on Memory and CPU overview to 6 per row

- Partially made dynamic queries for the bar gauges (currently having issues on setting individual maxes for each

[2022-02-01 17:26] bryanmontalvan commented on #431
/assign @bryanmontalvan

[2022-02-01 18:27] sesheta commented on #350
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 18:27] sesheta commented on #413
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 21:46] larsks commented on #350
/remove-lifecycle-stale

[2022-02-01 23:08] mubariskhan96 opened #448 "Alerting Framework"
For my co-op Project, I'm going to be working on the Alerting System in Operate First.

From this issue, I'm hoping to have a set of rules, which every alert must abide by. I'm sorry it will be a lot of words but I think it will capture most of the points that someone new to Alerting may find helpful.

I have taken notes from a [video](https://www.youtube.com/watch?v=AmYWMLv4h-0) on Alerting Best

[2022-02-02 15:13] HumairAK commented on #414
seems like this was resolved at some point, not sure where :man_shrugging:  but it no longer seems to be continuously going OOS.

/close

[2022-02-02 15:13] #414 closed

[2022-02-02 15:27] sesheta commented on #418
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-02 15:27] sesheta commented on #297
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-02 15:27] sesheta commented on #419
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-02 15:28] HumairAK commented on #419
/remove-lifecycle stale

[2022-02-02 16:00] vdemeester commented on #297
@HumairAK yes this has been fixed upstream and should be available as part of the latest 1.6 release of OpenShift Pipelines (1.6.2 in a few days but the fix should have been included in 1.6.0 already)

[2022-02-02 18:43] larsks opened #449 "Provide information to NERC about size of loki deployment"
- Size of environments from which we are collecting logs?
- Rate of log ingestion in Loki?
- Etc.

[2022-02-02 18:51] larsks opened #450 "Can project labels be propagated to metrics collected from things in those projects?"
If we add some sort of higher-level organization label to projects (like "company" or "primary investigator"), can we include those labels in metrics coming from those projects (so that we could produce graphs for things like "container cpu utilization by company", for example)?

[2022-02-02 18:54] bryanmontalvan commented on #431
/unassign @bryanmontalvan

[2022-02-03 14:45] hpdempsey commented on #440
Can you make the login page include some text that distinguishes it as an Operate First Grafana instead of generic Grafana too?

[2022-02-03 14:47] hpdempsey commented on #440
Also, I agree on fewer panels.  You want the page to start quickly and have only the high-level info.

[2022-02-03 15:03] bryanmontalvan commented on #440
@hpdempsey Thanks for the feedback Heidi, after some digging I'm not quite sure changing the `login page` on grafana is possible. I've seen some articles on how to changes images but that's on local environments.

I'm a bit confused as to how many panels that shown been shown. Do you mean there's too many panels in each row(CPU Overview, Memory Overview, etc..)? Or if there's many panels verticall

[2022-02-03 19:34] hpdempsey commented on #444
Where are the SLIs, SLOs defined for RHODS @anishasthana ?

[2022-02-04 00:03] larsks commented on #369
Closed in favor of #442.

[2022-02-04 14:20] anishasthana commented on #444
https://docs.google.com/document/d/1YsVYg5ZIdLYBKLxU4iEpt4e_KykE8C8nJD2SEFg52eY/edit#heading=h.ladzjqxgg5eo has more information. The actual implemented alerts can be found in https://github.com/red-hat-data-services/odh-deployer

[2022-02-04 14:31] #369 closed

[2022-02-04 15:26] sesheta commented on #381
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-04 15:26] sesheta commented on #376
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-04 18:26] sesheta commented on #239
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-04 18:26] sesheta commented on #329
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 12:26] sesheta commented on #353
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 12:26] sesheta commented on #331
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 12:26] sesheta commented on #223
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-05 12:26] sesheta commented on #393
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-06 18:24] sesheta commented on #378
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-06 18:24] #378 closed

[2022-02-06 18:24] sesheta commented on #378
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/SRE/issues/378#issuecomment-1030887145):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-02-06 18:27] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 09:24] sesheta commented on #320
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-07 09:24] #320 closed

[2022-02-07 09:24] sesheta commented on #320
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/SRE/issues/320#issuecomment-1031245807):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2022-02-07 14:48] HumairAK commented on #353
/remove-lifecycle rotten.

[2022-02-07 14:50] HumairAK commented on #422
/remove-lifecycle stale

[2022-02-07 17:21] mubariskhan96 commented on #444
I'm getting started with this task now. But before jumping into writing code, I want to ask some clarifying questions to make sure I'm doing the right thing.

1. To find out the alerts, in ODH-Deployer, I'm looking at this file: [https://github.com/red-hat-data-services/odh-deployer/blob/main/monitoring/prometheus/prometheus.yaml](https://github.com/red-hat-data-services/odh-deployer/blob/main/mon

[2022-02-07 18:27] sesheta commented on #415
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-07 21:01] anishasthana commented on #444
The alerts would not go into the culler, there should be a better location for them to go :-)

[2022-02-07 21:27] sesheta commented on #423
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 14:14] HumairAK commented on #440
Another suggestion can we include somewhere that mentions that grafana reboots frequently and anyone working on it should back up *frequently* their dashboards in json. And maybe short instruction on where to go to do that.

[2022-02-08 14:16] HumairAK opened #451 "Grafana regular backups of dashboards to external storage"
Since grafana operator will reboot grafana on CR changes (e.g. when a grafana datasource/dashboard CR) is added. We should consider if there's an easy way for us to setup periodic external backups for grafana in case someone loses critical work during one of these deployments.

[2022-02-08 15:27] sesheta commented on #394
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-08 15:52] bryanmontalvan commented on #440
@HumairAK I was thinking of having the note in the `Welcome Text Panel` saying *"Note: Grafana is frequently rebooted..."* and having it link to our Grafana doc. Then adding a section that explains how to export/back-up your dashboards? Or do you think its better to have the explanation in the dashboard itself?

[2022-02-08 17:25] larsks commented on #440
@bryanmontalvan it is better to put the explanation in the docs ("Learn how to save your grafana dashboard `<here>`...")

[2022-02-08 20:25] larsks commented on #451
I think you just said the same thing? We mount a PV where grafana stores dashboards, so we have persistent storage. If we want to provide off-cluster backups, we could use volsync.

[2022-02-08 20:58] #441 closed

[2022-02-09 14:47] durandom opened #452 "rename this repo to `operations`"
Now that we have [sig-operations](https://github.com/operate-first/community/tree/main/sig-operations) and one subproject called operations, we could rename this repository to `operations` and free the name `sre` to

* more generic content, i.e. not directly tied to operate the platform, like educational or best practices
* more specific content, related to SRE and not operations in general

This

[2022-02-09 14:51] HumairAK commented on #452
TBH I find the existince of this repo kind of confusing, can we just merge it with `apps` repo, and archive this one? Half the times we have issues being created her, and the other times it's in apps repo.

[2022-02-09 14:56] larsks commented on #452
Sometimes it's nice to have a place for issues that isn't tied to a particular codebase: e.g. for things like hardware problems ("node X is down due to a failed NIC") or software bugs that aren't directly tied to our YAML manifests ("Grafana bug is causing incorrect rendering of cpu graph"), etc.

[2022-02-09 14:57] HumairAK commented on #452
Fair enough -- rename to `operations` then?

[2022-02-09 15:02] larsks commented on #452
Sure. Or merge `SRE` with `support` and just call it `issues`.

[2022-02-09 15:02] HumairAK commented on #452
I wonder how this works with peribolos, if I just rename [this](https://github.com/operate-first/common/blob/main/github-config.yaml#L88) will it delete the repo and create a new one called `operations`? Should I do it manually then send a pr in? @harshad16 do you or anyone else know?

[2022-02-09 18:27] sesheta commented on #425
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-09 18:27] sesheta commented on #421
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-09 19:15] larsks commented on #421
/remove-lifecycle stale

[2022-02-10 16:03] mmazur commented on #452
Does the PR require any further signoff and/or testing?

[2022-02-10 19:08] HumairAK commented on #452
doone: https://github.com/operate-first/operations

[2022-02-10 19:08] #452 closed

[2022-02-11 14:40] sesheta commented on #1
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

<details open>
Needs approval from an approver in each of these files:

- **[OWNERS](https://github.com/operate-first/sre/blob/main/OWNERS)**

Approvers can indicate their approval by w

[2022-02-12 15:27] sesheta commented on #275
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-13 15:25] sesheta commented on #384
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-13 15:25] sesheta commented on #384
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/384#issuecomment-1038192232):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-02-13 15:28] sesheta commented on #106
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-16 13:36] sesheta commented on #2
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

<details open>
Needs approval from an approver in each of these files:

- **[OWNERS](https://github.com/operate-first/sre/blob/main/OWNERS)**

Approvers can indicate their approval by w

[2022-02-16 15:39] HumairAK commented on #451
Yeah I suppose I did woops :face_with_spiral_eyes:

[2022-02-17 14:57] HumairAK opened #453 "Smaug OpenShift Cluster upgrade, Wednesday, February 23rd."
Hello Operate First users,

The cluster-ops team will be upgrading the Smaug cluster from OCP 4.8 to OCP 4.9 on Wednesday, February 23rd.
We expect to start around 9:00-10:00AM EST.

Related:
- https://github.com/operate-first/apps/issues/1454

[2022-02-18 02:20] margarethaley commented on #431
@larsks quick question: if there are two versions of the operator available on OperatorHub (one of which is a community operator), which do you normally go with?

[2022-02-21 16:07] sesheta commented on #428
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-22 11:24] sesheta commented on #348
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-23 15:40] harshad16 opened #454 "[INCIDENT][SMAUG/CI-PROW] - CI PROW Fails due to storages issue"
### Clusters Affected

smaug

### Users Affected

Users using ci prow on the Github repos.
Organizations affected:
- Open-services-group
- AICoE
- Operate-first
- AICoE-AIOps
- Thoth-station

### Incident Description

Hello Operate First Users,

we are investigating an ongoing incident affecting CI prow which is deployed on smaug cluster

we will provide updates to this issue thread as the inciden

[2022-02-23 17:58] dystewart opened #455 "Add apirequestcount read permissions to sre group in smaug/infra"
@HumairAK I currently have the cluster-view role but I need higher permissions to be able to access certain commands such as `oc get apirequestcounts` and to view other resources like secrets in the Smaug cluster.

[2022-02-24 15:52] harshad16 commented on #454
We have temporarily fixed the CI
user can type `/retest` to execute the CI.

Keeping the issue open, as this is just a temporary solution

[2022-02-24 20:21] HumairAK commented on #454
Support case here for noobaa issues on smaug : https://access.redhat.com/support/cases/#/case/03158868

[2022-02-25 08:01] rbo commented on #454
The detail page of tests, for [example](https://prow.operate-first.cloud/view/s3/thoth/prow-logs/pr-logs/pull/operate-first_hetzner-baremetal-openshift/17/pre-commit/1497115627624599552) delivers a  504 Gateway Time-out. It this related to this issue?

[2022-02-25 20:15] #431 closed

[2022-02-28 06:44] harshad16 commented on #454
@rbo , please run retest once more, we have fixed it now.

[2022-02-28 14:08] sesheta commented on #364
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-28 14:08] sesheta commented on #364
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/364#issuecomment-1054293690):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-01 18:17] HumairAK opened #456 "Decide on a dev osc cluster for new odh component development (starting with BYON)"
In the [OSG devsecops WG]() it was brought up that the [BYON WG]() requires a dev/stage environment for BYON development. the `devsecops` WG is not responsible for cluster management, and this is under the purview of cluster-ops subproject in Operate First.

The OSC clusers were identified as the ideal candidates for this, though there were some concerns.

Currently there are 2 OSC clusters:

###

[2022-03-01 18:19] HumairAK commented on #456
@codificat you mentioned during the call a list of example cluster services that might get affected, can you give us an idea of that here? does not need to be exhaustive, but would be, I think, helpful to get an idea of what sort of effect byon development might have on this target cluster.

[2022-03-01 18:19] HumairAK commented on #456
@durandom @goern @redmikhail

[2022-03-02 16:08] sesheta commented on #429
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-03 18:57] larsks opened #3 "Community mailman is offline"
Trying to access the mailman ui at <https://lists.operate-first.cloud/admin/lists/community.lists.operate-first.cloud/> results in this error:

[2022-03-03 18:58] larsks commented on #3
Whoops, wrong repo.

[2022-03-03 18:58] #3 closed, assigned to nobody

[2022-03-03 18:58] larsks opened #457 "Mailman is offline"
Trying to access the mailman ui at <https://lists.operate-first.cloud/admin/lists/community.lists.operate-first.cloud/> results in this error:

[2022-03-03 20:25] sesheta commented on #413
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-03 20:41] HumairAK commented on #413
I think we're in a good place with the current jupyterbook gitopsdocs setup, and the consolidation of repos etc. Closing. Please re-open if there's more to do/discuss here.

[2022-03-03 20:41] #413 closed

[2022-03-04 10:22] sesheta commented on #4
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

<details open>
Needs approval from an approver in each of these files:

- **[OWNERS](https://github.com/operate-first/sre/blob/main/OWNERS)**

Approvers can indicate their approval by w

[2022-03-04 17:25] sesheta commented on #418
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-06 17:03] sesheta commented on #376
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-06 17:03] #376 closed

[2022-03-06 17:03] sesheta commented on #376
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/376#issuecomment-1059999644):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-06 19:08] sesheta commented on #432
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-07 13:34] HumairAK commented on #432
/remove-lifecycle stale

[2022-03-07 14:03] sesheta commented on #393
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-07 14:03] #223 closed

[2022-03-07 14:03] #331 closed

[2022-03-07 14:03] #393 closed

[2022-03-07 14:03] sesheta commented on #223
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/223#issuecomment-1060721099):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-07 14:03] sesheta commented on #331
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/331#issuecomment-1060721087):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-07 14:03] sesheta commented on #393
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/393#issuecomment-1060721119):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-09 17:05] sesheta commented on #353
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-09 17:05] #353 closed

[2022-03-09 20:26] sesheta commented on #415
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-09 23:26] sesheta commented on #423
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-10 17:26] sesheta commented on #394
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-11 12:59] rbo commented on #364
Wait of https://github.com/operate-first/apps/issues/1471

[2022-03-11 14:46] HumairAK commented on #429
/remove-lifecycle stale

[2022-03-11 20:26] sesheta commented on #425
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-14 17:05] sesheta commented on #275
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-14 17:05] sesheta commented on #275
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/275#issuecomment-1067070451):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-03-14 17:40] larsks opened #458 "Fix permissions on meeting document"
The shared notes for the cluster operations project (https://docs.google.com/document/d/1QjZKlSKaAPUuq0OetR3uOp-Rm2Zo5qX5r5ReUoiETM4/edit#) is not editable by members of the cluster operations group. We need to ensure that everyone is able to edit that as appropriate (and manage sharing privileges so that we can add additional people).

[2022-03-14 22:10] sesheta commented on #424
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-15 16:06] rbo commented on #364
/cc @carlosGimeno just-for-information, the Issue for cluster onboarding documentation.

[2022-03-15 16:41] dystewart commented on #429
@HumairAK What cluster(s) should I test this out in first?

[2022-03-16 13:53] HumairAK commented on #415
I believe these are already updated. Observatorium docs can be found here: https://www.operate-first.cloud/apps/content/observatorium/README.html

[2022-03-16 13:53] #415 closed

[2022-03-16 13:55] HumairAK commented on #424
I think the gitops docs  jupyterbookserves our purposes for the sig-operations side. Moving forward future decisions/discussions regarding these matters will be delegated to the contrib/ops docs groups.

[2022-03-16 13:55] #424 closed

[2022-03-16 13:56] #458 closed

[2022-03-16 14:02] HumairAK commented on #429
@dystewart what do you mean by testing it out? If you'd like to try out the command, you can do it in a dev cluster, or add yourself to the sudo'ers list in morty cluster as @rbo suggests. Feel free to go ahead and add the rolebindings for the other clusters like in: https://github.com/operate-first/apps/pull/1725

Remove all cluster admins in all clusters, but make sure they are added to the `sud

[2022-03-16 15:33] HumairAK opened #459 "[INCIDENT][MOC Environment] - MOC Clusters Infra / Smaug potential networking issues, services/console endpoints unresponsive"
### Clusters Affected

Smaug, Infra

### Users Affected

All Smaug/Infra OCP and service end users.

### Incident Description

Hello Operate First users,

We are investigating networking issues involving the Operate First Smaug and Infra clusters. These issues affect users direclty interacting with these Openshift Clusters, as well as the services deployed on them. These services include, but are

[2022-03-16 15:51] HumairAK commented on #459
Looks like all clusters and service endpoints are available once again. Closing.

[2022-03-16 15:51] #459 closed

[2022-03-17 13:10] harshad16 commented on #454
This is fixed and thanks to everyone, who has worked on this.

[2022-03-17 13:10] #454 closed

[2022-03-18 21:16] quaid commented on #457
@mscherer the monitoring on this page hasn't seemed to signal the service being down, so you probably aren't getting alerts.

https://osci.io/tenants/

Ultimately, it's also a problem that no one other than me knows who to contact about issues with lists.operate-first.cloud. I'd like to open an issue to see that worked out, should I do that here in github://operate-first/operations or github://ope

[2022-03-19 23:27] sesheta commented on #327
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-20 16:10] sesheta commented on #416
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-21 18:34] sallyom opened #460 "Create "script" or overview to share"
share with those brand new to Op 1st:  “What is Op 1st?” (With a well documented overview in place, I would volunteer to hold such a meeting once in a while) There are recordings already we can start from.

[2022-03-21 18:35] sallyom commented on #460
/assign

[2022-03-21 19:08] HumairAK commented on #455
@dystewart can you create a `clusterrole` and `clusterrolebinding` that gives read permissions to the `sre` group and add this to the `cluster-scope` base repo and also deploy it in `smaug` and the other clusters?

[2022-03-21 19:10] sesheta commented on #437
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-22 14:36] larsks opened #461 "Update project admin(/editor/viewer) permissions for volsync access"
In https://github.com/backube/volsync/issues/161, @johnstrunk suggests some clusterroles that are more complete (and more granular) than the `volsync-rs-aggregate-to-admin` we're currently using. We should probably use them.

[2022-03-22 15:10] #437 closed

[2022-03-22 15:19] mscherer commented on #457
no, the problem was resolved. We had a physical server issue (not sure of the date), and after restart, half of the mailman servers didn't start correctly. But the monitoring didn't detect that (I think @duck-rh is looking at that).

[2022-03-22 15:31] david-martin commented on #4
Merging.
I've believed I've addressed all feedback in comments, in the PR content or in one of the many follow up issues tracked under https://issues.redhat.com/browse/SIGSRE-36

* https://issues.redhat.com/browse/SIGSRE-75	People and Culture - Phase 2 content
* https://issues.redhat.com/browse/SIGSRE-76	People and Culture - Phase 3 content
* https://issues.redhat.com/browse/SIGSRE-77	Observabilit

[2022-03-22 20:11] dystewart commented on #455
@HumairAK Including clusters like the osc clusters?

[2022-03-22 20:11] margarethaley commented on #461
@larsks I swapped out the role [here](https://github.com/margarethaley/apps/commit/c1475dc69afaac425ca0d2ed800f48ffe1b41667) on my fork, but wasn't sure if I'm missing an associated `clusterrolebinding` that should be updated as well. I'm also wondering if the name of the folder `volsync-rs-aggregate-to-admin` should change, since it's now creating a role for viewing in addition to editing?

[2022-03-22 20:50] larsks commented on #461
The directory name should always match the name of the object it's creating. I suspect you'll want two directories for this (one per role), and then update the corresponding `kustomization.yaml` in the volsync bundle. See e.g. how the `prow-aggregate-to-*` clusterroles are handled [here](https://github.com/operate-first/apps/tree/master/cluster-scope/base/rbac.authorization.k8s.io/clusterroles).

[2022-03-23 12:51] jeremyeder commented on #5
/lgtm

[2022-03-23 13:03] HumairAK commented on #455
hmm good question... leave those clusters for now, update only the ones that include the sre group.

[2022-03-23 16:20] margarethaley commented on #461
@larsks got it! Just updated that commit [here](https://github.com/margarethaley/apps/commit/ac841a89e658c3513196d544d423d9b15d64a288)

[2022-03-23 17:29] sesheta commented on #428
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-23 18:30] lisa commented on #5
/lgtm
/approve

:shipit:

[2022-03-23 18:30] sesheta commented on #5
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/5#issuecomment-1076680310" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

<details open>
Needs approval from an approver in each of these files:

- **[OW

[2022-03-25 19:57] dystewart commented on #429
Added myself as a sudoer in the morty cluster [https://github.com/operate-first/apps/pull/1803](https://github.com/operate-first/apps/pull/1803)

[2022-03-28 18:18] HumairAK opened #462 "Create labels to distinguish between clusters"
Update this file: https://github.com/operate-first/common/blob/main/labels.yaml
We want the labels to be in operations related repos, I'm thinking:

- apps
- operations
- toolbox
- opfcli
- odh-manifests

[2022-03-28 18:20] Gregory-Pereira commented on #462
/assign

[2022-03-29 14:43] HumairAK opened #463 "Add osc-cl1 and osc-cl2 to opf monitoring"
We want to be able to visualize osc-cl2/osc-cl1 in much the same way we can visualize the other clusters within the operate-first cloud.

[2022-03-29 15:01] HumairAK opened #464 "Automate Project Onboarding via GitHub issue"
We want to go from this form like [this](https://github.com/operate-first/support/issues/new?assignees=first-operator&labels=kind%2Fonboarding%2Carea%2Fcluster&template=onboarding_to_cluster.yaml&title=NEW+PROJECT%3A+%3Cname%3E).

To an onboard pr like the ones found here: https://github.com/operate-first/apps/pulls?q=is%3Apr+is%3Aclosed+onboard .

In the background, we want to use openshift pipel

[2022-03-30 15:40] HumairAK opened #465 "OCP groups and permission handling for services in OSC"
Continuation of:  https://github.com/operate-first/apps/pull/1821#issuecomment-1083207189

For services we deploy in OSC clusters (like superset/trino/etc.) we gate access via OCP rbac (like we do for our other services in operate-first in other clusters).

So the process to hand out permissions results in adding a github user to some OpenShift Group like [this one](https://github.com/operate-firs

[2022-03-30 15:41] HumairAK commented on #465
I'll update action items list based on the discussion/ resulting items here.

[2022-04-03 20:07] sesheta commented on #418
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-03 20:07] #418 closed

[2022-04-03 20:07] sesheta commented on #418
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/418#issuecomment-1086939552):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-04 17:57] HumairAK commented on #442
I believe this is done, and we're now using bundles, closing -- reopen of there's more.

[2022-04-04 17:57] #442 closed

[2022-04-04 17:59] HumairAK commented on #392
closing in favor of: https://github.com/operate-first/apps/issues/1849

[2022-04-04 17:59] #392 closed

[2022-04-05 16:16] erikerlandson commented on #465
My point of view here is that there are two categories of namespace:
1) namespaces running "core" services (jupyterhub, trino, pachyderm, etc)
2) namespaces generated for particular OSC community projects (e.g. sostrades?)

category (1) should never include "normal" community members having any form of "admin" - however we should have governance around who actually gets this.  Currently we've been

[2022-04-05 18:57] HumairAK commented on #465
okay, so for (2) -- so if we're handing out project admin roles to teams, then we should [remove odh from olm management](https://github.com/open-services-group/devsecops/blob/master/ADR/0001-dont-use-olm.md#context-and-problem-statement). We can revert back to our manual deployment (the way we do it on the smaug cluster).

@redmikhail fyi

[2022-04-06 16:11] sesheta commented on #354
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-06 17:48] HumairAK commented on #390
/remove-lifecycle stale

[2022-04-06 17:49] HumairAK commented on #390
/lifecycle frozen

[2022-04-06 19:11] sesheta commented on #374
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-06 19:23] HumairAK commented on #388
/remove-lifecycle stale

[2022-04-07 20:24] HumairAK commented on #374
/remove-lifecycle stale

[2022-04-09 20:07] sesheta commented on #394
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-09 20:07] sesheta commented on #394
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/394#issuecomment-1094117019):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-09 20:07] #394 closed

[2022-04-11 13:21] accorvin commented on #8
Closing this in favor of a google doc while we work on it a bit more. Will link to the google doc shortly after I've had a chance to address all of the existing comments.

[2022-04-11 14:17] davidffrench commented on #8
Thanks @accorvin , please send me on the Google doc link once it is ready

[2022-04-11 14:46] accorvin commented on #8
Google doc created. Find it [here](https://docs.google.com/document/d/14iwcOaB-mRrhroNGG58SbBFcwhOr3irOaO7mZJxhhvo/edit?usp=sharing).

[2022-04-11 15:18] HumairAK opened #466 "OSC-CL2 Trino crashing"
[code]

Triggered by this pr: https://github.com/operate-first/apps/pull/1883

[2022-04-11 15:25] MichaelTiemannOSC commented on #466
Yikes!  I don't know where this variable initialization belongs.  I thought I picked the right place, but obviously not. The Trino docs are HORRIBLE in this regard.  Trino itself references the variable when it's overrun, but the trino docs themselves don't say where it is set.  Maybe it's computed from other parameters?

[2022-04-11 15:43] MichaelTiemannOSC commented on #466
Whelp, doesn't work:

[code]

I did a `SHOW SESSION` command, but didn't see it as part of that list.

[2022-04-11 15:58] erikerlandson commented on #466
most config parameters can be locally overridden by a corresponding session property, if one has permissions to set session properties, which I haven't looked into.  Allowing users to set these has potential risks since many parameters can cause performance problems if set improperly.  However we can investigate allowing some people access, for experimentation purposes.

Regardless, we need to fig

[2022-04-11 16:18] erikerlandson commented on #466
I'd guess it was a coordinator property, but I agree with MT that the docs don't give a lot of guidance

[2022-04-11 16:25] erikerlandson commented on #466
Have asked on the trino slack:
https://app.slack.com/client/TFKPX15NC/CGB0QHWSW/thread/CGB0QHWSW-1645042743.812489

[2022-04-11 18:34] HumairAK commented on #219
/remove-lifecycle stale

[2022-04-11 19:18] erikerlandson commented on #466
The trino people's guidance was:

[2022-04-11 19:51] HumairAK commented on #466
https://github.com/operate-first/apps/pull/1890 was merged, no crash. :+1:

[2022-04-11 19:52] MichaelTiemannOSC commented on #466
That's two things working better than at the start of the day ;-)

[2022-04-11 20:25] HumairAK commented on #466
Resolved -- closing.

[2022-04-11 20:25] #466 closed

[2022-04-12 19:25] Gregory-Pereira opened #467 "Elevated temperature in the MGHPCC Computer Room"
### Clusters Affected

Smaug, MOC-Infra

### Users Affected

Users interacting with smaug/infra clusters, and services deployed on those clusters. Additonally services on Smaug such as ODH, argocd, ACM and Authentication are also affected.

### Incident Description

Hello Operate-first Users,

Shortly after 2PM today a problem occurred while the facility was switching out of free cooling mode and

[2022-04-13 13:30] HumairAK commented on #453
Upgrade resumed with admin ack.

[2022-04-13 22:44] HumairAK commented on #453
There is a node stuck at drain stage that has halted the upgrade process.

[2022-04-14 13:51] HumairAK commented on #453
The events were not very descriptive the for the `node` in question. But the `machine-config-daemon` in the `openshift-machine-config-operator` namespace, that was deployed on this node offered the root cause:
[code]

Deleting this pod resolved the issue.

[2022-04-14 15:21] HumairAK commented on #453
[code]

From the machine-config-daemon above.

~ $ oc get node oct-03-01-compute -o yaml | yq .metadata.annotations

[code]

[2022-04-14 16:03] HumairAK commented on #453
support case created: https://access.redhat.com/support/cases/#/case/03197956

[2022-04-14 17:08] sesheta commented on #364
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 17:08] sesheta commented on #364
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/364#issuecomment-1099420025):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-14 18:43] HumairAK commented on #453
Rebooting the machine config daemon seems to have pushed the node past the os upgrade stage:

[code]

Logs from the daemon pod:

<details>
<summary> logs </summary>
I0414 18:37:58.882520 3959014 rpm-ostree.go:297] Executing rebase from repo path /run/mco-machine-os-content/os-content-342990518/srv/repo with customImageURL pivot://quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:08d376c06b2acc

[2022-04-14 18:55] HumairAK commented on #453
The cluster upgrade has moved on from this node and onto the next

[2022-04-14 20:08] sesheta commented on #106
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-14 20:08] #106 closed

[2022-04-14 20:08] sesheta commented on #106
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/106#issuecomment-1099580256):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-15 15:43] larsks commented on #453
The cluster upgrade got stuck (again!) because it was unable to drain `oct-03-12-compute`:

[code]

I deleted the blocking pod and the ugprade has moved on to the next step.

[2022-04-15 16:45] larsks commented on #453
Pod `prometheus-k8s-0` is is trying to mount volume `pvc-301fb2d3-4a1c-4ecc-b1eb-e1e4e73a5e1c`, which came from the NFS server. That server is no longer available.

[2022-04-15 16:48] larsks commented on #453
I have deleted the NFS PV and allowed the monitoring stack to create a new PVC and now prometheus has started successfully.

[2022-04-15 16:49] larsks commented on #453
The upgrade to 4.9.21 has completed successfully.

[code]

[2022-04-15 16:51] larsks commented on #416
/remove-lifecycle stale

[2022-04-15 16:52] larsks commented on #416
The following volumes are still associated with the NFS server. Pods using these volumes will not be able to start until the volume is removed and replaced with a volume from the default storageclass:

[code]

[2022-04-17 22:13] sesheta commented on #411
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-18 16:13] sesheta commented on #439
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 02:09] sesheta commented on #327
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-19 02:09] #327 closed

[2022-04-19 02:09] sesheta commented on #327
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/327#issuecomment-1101921839):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-19 14:44] HumairAK commented on #411
This is now resolved, trino instances in smaug and osc-cl2 auto trigger deployments.

[2022-04-19 14:44] #411 closed

[2022-04-20 14:17] #453 closed

[2022-04-20 21:15] HumairAK commented on #432
identitatem is set up, go to https://github.com/operate-first/support/issues/557 for switching rest of the clusters story.

[2022-04-20 21:15] #432 closed

[2022-04-20 21:50] HumairAK opened #468 "As an OPF SRE, I want to see only critical alerts in the alerts repo, so that there is less alert fatigue and thus more reason to look at it."
### Additional Context

There is too much bloat in the alerts repo, no one looks at it. Instead of sending everything, let's reduce the Alerts to only show critical alerts. Then start with checking those critical alerts, are they really critical? Can they be ignored? Then ignore these by name.

For non-critical alerts we want to see, we should selectively add them, and include docs on how they can

[2022-04-21 03:48] brizrobbo commented on #11
@lisa / @jeremyeder / @david-martin can you please be reviewers?

Please also suggest any other reviewers.

[2022-04-21 20:09] brizrobbo commented on #11
Hey @lisa. Yeah, I will change those 'bolds' to markdown section headings when we translate this ADR into an actual document. I didn't do that to begin with, because it would muck up all the ADR headings.

[2022-04-22 20:09] sesheta commented on #428
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-22 20:09] sesheta commented on #428
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/428#issuecomment-1106823175):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-22 20:09] #428 closed

[2022-04-23 14:09] sesheta commented on #348
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-23 14:09] sesheta commented on #348
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/348#issuecomment-1107478047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-04-23 14:09] #348 closed

[2022-04-25 10:13] sesheta commented on #107
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 19:28] #455 closed

[2022-04-27 02:48] dystewart opened #469 "Decommission Rick Cluster"
We need to Decommission the Rick cluster so we need to:

- [x] Confirm nothing is running on Rick
- [x] Migrate argocd apps currently deploying in Rick to deploy in Morty
- [x] Offboard Rick according to these [cluster offboarding docs](https://www.operate-first.cloud/apps/content/cluster-scope/offboarding_cluster.html)
- [x] Make any necessary changes or updates to [cluster offboarding docs](http

[2022-05-01 20:39] chaitanyaenr commented on #12
@david-martin PTAL. Thanks.

[2022-05-01 22:14] sesheta commented on #447
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-02 15:37] carlosGimeno opened #470 "[Ops-docs] Create labels related to documentation"
This suggestions was brought up during an Ops-docs meeting. The idea would be to add labels such as needs-documentation and has-documentation as a way to make sure that new features or changes are correctly documented (specially within the ops-docs) prior to the approval and merger of a PR.

[2022-05-02 15:38] carlosGimeno commented on #470
/kind documentation

[2022-05-02 17:40] larsks opened #471 "Automation to remove complete projects from Done column on project board"
We are using a [project board](https://github.com/orgs/operate-first/projects/57) to help keep track of currently active projects happening in the Operate First operations WG. We would like to avoid the "Done" column growing without bound. We would like automation that will remove items from the "Done" column some amount of time after they have been completed.

[2022-05-02 18:05] #462 closed

[2022-05-02 22:14] sesheta commented on #350
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 01:14] sesheta commented on #448
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 16:14] sesheta commented on #419
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 17:17] HumairAK commented on #463
closing in favor of: https://github.com/operate-first/apps/issues/1840

[2022-05-03 17:17] #463 closed

[2022-05-03 18:57] chaitanyaenr commented on #12
Fixed. Thanks!

[2022-05-03 19:17] sesheta commented on #297
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 19:17] sesheta commented on #449
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 19:17] sesheta commented on #450
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-03 19:25] HumairAK commented on #297
resolved after ocp upgrade (and thus ocp pipelines update to 1.6.2

[2022-05-03 19:25] #297 closed

[2022-05-04 13:52] accorvin commented on #8
This PR has been updated based on the latest version of the google doc, in which all comments have been addressed.

[2022-05-04 17:44] chaitanyaenr commented on #12
@lisa @david-martin I will bump up the ADR number of this draft to ADR-00004, this way #7 and #11 can use ADR-00002 and ADR-00003. Thanks.

[2022-05-04 17:45] lisa commented on #12
@chaitanyaenr Lovely, thank you.

[2022-05-04 17:46] lisa commented on #12
/hold cancel

[2022-05-04 17:46] chaitanyaenr commented on #12
Done!

[2022-05-04 17:52] lisa commented on #11
@brizrobbo I mentioned in #7 and #12 that there is an ADR numbering conflict with all wanting to use ADR-00002. #12 has changed to become ADR-00004, do you want to renumber this one to ADR-00003 so that #7 can retain ADR-00002?

[2022-05-05 03:26] brizrobbo commented on #11
@lisa I have kept it as ADR-00002 for the time being as I think we are quite close to merging. However, I am very OK with bumping it to <whatever>.

[2022-05-05 03:29] brizrobbo commented on #11
@jeremyeder @cattias @candita @lisa @david-martin @wking I have updated with latest suggestions and changes (thank you all so much for them). Could you please review?

Also, there are 3 outstanding conversations @wking, @jeremyeder and @candita ?

[2022-05-05 12:17] lisa commented on #11
Let's leave this one as ADR-00002.

[2022-05-05 14:55] david-martin commented on #12
/lgtm
/approve

[2022-05-05 14:55] sesheta commented on #12
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/12#issuecomment-1118656335" title="Approved">david-martin</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/

[2022-05-06 20:31] sesheta commented on #388
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-08 16:14] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-08 16:14] sesheta commented on #381
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-08 22:14] sesheta commented on #444
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-09 13:26] HumairAK commented on #381
This was accomplished via dex via: https://github.com/operate-first/apps/tree/master/das
https://github.com/HumairAK/dex-auth-service

[2022-05-09 13:26] #381 closed

[2022-05-09 13:30] HumairAK commented on #422
/remove-lifecycle stale

[2022-05-09 14:04] HumairAK commented on #388
/remove-lifecycle rotten

[2022-05-09 14:57] lisa commented on #11
/lgtm
/approve

:shipit:

[2022-05-09 14:57] sesheta commented on #11
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/11#pullrequestreview-966241705" title="Approved">jeremyeder</a>*, *<a href="https://github.com/operate-first/sre/pull/11#issuecomment-1121213103" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-c

[2022-05-09 17:49] Gregory-Pereira commented on #468
/assign

[2022-05-09 19:15] sesheta commented on #440
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-09 20:00] HumairAK opened #472 "Update onboarding notebook to use new opfcli onboard command"
1. [Merge toolbox image version bump](https://github.com/operate-first/toolbox/pull/74) @humairAK
2. [Update kustomization work with opfcli onboard command](https://github.com/operate-first/apps/pull/1800)
    - holding for now

[2022-05-09 20:25] HumairAK commented on #429
@dystewart were you able to access the console with your implementation here: https://github.com/operate-first/apps/pull/1855
as cluster admin? If not do we need to create a cluster admin user that the sudoers can impersonate to do this?

[2022-05-10 22:15] sesheta commented on #421
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-11 16:51] carlosGimeno opened #473 "[Ops-docs] Fill in with content the empty Section Headings of the Git-Ops Docs"
# Empty Section Headings

The Git-Ops Documentation notebook currently has 16 sections. Each of the sections has a section heading page, which in most of the cases is just an empty page.

On one of the meetings of the Ops-docs subproject, this issue was discussed and it was proposed that these empty pages would include introductions to each of the sections, avoiding misleading empty pages while in

[2022-05-11 16:52] carlosGimeno commented on #473
/kind documentation
/good first issue

[2022-05-11 16:52] carlosGimeno commented on #473
/kind documentation

[2022-05-11 18:28] lisa commented on #13
/hold

for review

[2022-05-12 14:09] HumairAK commented on #416
[code]

[2022-05-12 14:31] HumairAK opened #474 "[INCIDENT][Smaug/Nooba] - A NooBaa system approached its capacity, usage is at 100%"
### Clusters Affected

Smaug

### Users Affected

All Smaug users

### Incident Description

Nooba Storage on Smaug is reporting as being almost full. This was confirmed to be the case by @larsks.

### Relevant Links

- https://github.com/operate-first/alerts/issues/28817
- https://github.com/operate-first/alerts/issues/28837
- https://github.com/operate-first/alerts/issues/28841
- https://github.

[2022-05-12 14:32] HumairAK commented on #474
Relevant comments by @larsks:

[2022-05-13 09:18] david-martin commented on #14
/lgtm
/approve

[2022-05-13 09:18] sesheta commented on #14
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/14#issuecomment-1125835053" title="Approved">david-martin</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/

[2022-05-13 17:25] larsks commented on #421
/remove-lifecycle stale

[2022-05-16 17:40] larsks opened #475 "Configure ODF (OCS) using NESE storage on Infra cluster"
In order to use volume storage on the moc-infra cluster, we need to configure access to the NESE ceph storage cluster.

[2022-05-17 15:56] lisa commented on #16
/verify-owners

[2022-05-17 16:15] sesheta commented on #451
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 17:12] lisa commented on #16
Didn't I add Pavlos to the org with https://github.com/operate-first/common/pull/109? Hrm...

[2022-05-17 17:44] dastergon commented on #16
/verify-owners

[2022-05-17 17:47] lisa commented on #16
You have the Midas touch, @dastergon :)

[2022-05-18 15:38] jeremyeder commented on #16
/lgtm

[2022-05-18 15:43] lisa commented on #16
/approve

[2022-05-18 15:43] sesheta commented on #16
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/16#issuecomment-1130185399" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contribu

[2022-05-18 15:54] jeremyeder commented on #16
/lgtm

[2022-05-18 17:35] sesheta commented on #439
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-23 16:10] carlosGimeno commented on #473
/good-first-issue

[2022-05-23 16:10] sesheta commented on #473
@carlosGimeno:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](http

[2022-05-24 15:40] bkulaga9 commented on #18
When we reviewed the personas, we believe a crucial persona is missing - Product security.

[2022-05-24 19:29] HumairAK opened #478 "[Announcement] MOC Clusters down until May 26th (Emea clusters auth also down)"
Hello Operate First Cloud Users,

This is for users of the MOC clusters: Smaug, Infra, Curator.

As a reminder these clusters are will be unavailable from Monday, May 23, 2022 at 6PM through Thursday, May 26, 2022 at 12PM. Due to a scheduled power outage. We'll post an update when these clusters are up and operational once again.

Please note that authentication on the European clusters Rick/Morty

[2022-05-25 03:26] brizrobbo commented on #18
With respect to this comment @bkulaga9 : `When we reviewed the personas, we believe a crucial persona is missing - Product security.`

I agree. How would feel about constructing a draft of what that persona would be like and submitting as another commit (i.e. an update)?

[2022-05-25 10:42] bkulaga9 commented on #18
@brizrobbo , I sure could do that. However, we should have someone from security involved in sig-sre or provide their opinion/consultation. I don't want to jot something down that will not be true. What do you think?

[2022-05-26 01:00] brizrobbo commented on #18
You could add some suggested text here, and then we can see if we can find some prodsec folks to review. @jeremyeder do you have any suggestions of who to involve? Or, maybe it would be a better idea to keep this idea as a separate PR and just concentrate on adding the "QE" changes in? We can push these "QE" changes through quite quickly I expect, and then concentrate on adding a security persona.

[2022-05-26 06:31] bkulaga9 commented on #18
@brizrobbo I agree to have QE changes only for this PR. However, we should not leave security out of the picture, they are an integral part of the development lifecycle.

[2022-05-26 13:39] larsks opened #479 "[INCIDENT][smaug/object storage] - Unable to create new buckets or access existing buckets"
### Clusters Affected

smaug

### Users Affected

All smaug users attempting to consume object storage

### Incident Description

The power shutdown earlier this week appears to have impacted the object storage service (Noobaa) on the Smaug cluster. At the moment it is not possible to create new object buckets, nor is it possible to access data on existing buckets. We are investigating the problem

[2022-05-26 14:00] larsks commented on #479
I've opened https://access.redhat.com/support/cases/#/case/03229640 for this incident, @HumairAK is the case owner.

[2022-05-26 15:24] quaid opened #480 "Decouple central ops and abstract from MOC"
This is probably a longer-term goal but it would be great if it were substantively in place for the next MOC multi-day power outage.

As a cloud environment provider, we need to design our cloud so it is not dependent on one region or one data center.

The vision here is, when the next MOC multi-day planned power outage occurs, the Op1st project is able to maintain uptime throughout and does not n

[2022-05-26 20:54] sesheta commented on #107
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-27 05:54] sesheta commented on #445
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-27 13:12] aditya-konarde commented on #18
/assign @david-martin

[2022-05-30 05:44] brizrobbo commented on #18
Hey @lisa . See the assign to @david-martin  previous. That should be you instead?

[2022-05-30 05:46] brizrobbo commented on #18
@mmazur If you are satisfied with @bkulaga9 's change previous, could you please approve?

[2022-05-30 13:09] sesheta commented on #18
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/18#pullrequestreview-987469066" title="Approved">aditya-konarde</a>*, *<a href="https://github.com/operate-first/sre/pull/18#pullrequestreview-989330330" title="Approved">mmazur</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8

[2022-05-30 13:10] mmazur commented on #18
/lgtm

[2022-05-31 10:24] mmazur commented on #18
@brizrobbo do you have any comments to the current change? If not, I'll merge.

[2022-05-31 15:10] lisa commented on #19
/verify-owners

[2022-05-31 15:39] lisa commented on #19
/verify-owners

[2022-05-31 17:29] dystewart commented on #429
Referencing [#1855](https://github.com/operate-first/apps/pull/1855)
@HumairAK as I am added to the sudoers group in the Morty cluster if I run:
[code]
If I use the whoami command and specify system admin however:
[code]

The impersonation is taken care of using the impersonate verb in the sudoer clusterrole:
[code]

We are just impersonating the built in system admin user so we wont need to creat

[2022-05-31 17:37] HumairAK commented on #429
@dystewart You are still using the cli. I'm referring to the openshift-console web ui (example [here](https://console-openshift-console.apps.smaug.na.operate-first.cloud)). If we remove everyone from cluster-admins as done so in the PR,  is there a way for us to still use the console as a cluster-admin? Is there an `--as system:admin` equivalent for the ui?

[2022-06-01 00:23] brizrobbo commented on #18
LGTM @mmazur

[2022-06-01 00:43] sesheta commented on #447
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-01 09:00] mmazur commented on #18
/lgtm

[2022-06-01 15:30] lisa commented on #19
/verify-owners

[2022-06-01 17:59] dystewart commented on #429
@HumairAK impersonation via the console is available for users and groups however the only way to impersonate a group that I am seeing is through the `clusterrolebinding` options. It looks like there used to be an option to impersonate a group via the group options, see [https://cloud.redhat.com/blog/openshift-4-3-spoofing-a-user](https://cloud.redhat.com/blog/openshift-4-3-spoofing-a-user)

Unfor

[2022-06-02 06:51] sesheta commented on #350
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-02 06:51] sesheta commented on #448
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-02 21:55] sesheta commented on #450
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-03 17:23] dystewart commented on #429
@HumairAK Actually scratch that you can impersonate the system:admin subject from the console, I was just trying to impersonate through the wrong clusterrolebinding.

[code]

So the sudoer role will suffice the needs of cluster admins without having users in the cluster-admins group.

[2022-06-05 18:39] sesheta commented on #354
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-05 18:39] #354 closed

[2022-06-05 18:39] sesheta commented on #354
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/354#issuecomment-1146863259):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-06-07 18:18] HumairAK commented on #419
It is not clear whether we will continue the use of odh-manifests/overrides, so spending time on this is not a high priority at this point.

[2022-06-07 18:18] #419 closed

[2022-06-08 03:26] brizrobbo commented on #23
@lisa @jeremyeder Can you please review and/or nominate reviewers?

[2022-06-08 18:32] dystewart commented on #469
@HumairAK It looks as though the only workloads running on Rick are a few operators (ESO, ACME, Kafka) and the default OpenShift services.

I also checked in with @4n4nd and @harshad16 to verify that the cluster was ready for decommissioning

Going to use the docs linked above to get started

[2022-06-08 21:48] sesheta commented on #440
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-09 12:17] lisa commented on #19
/verify-owners

[2022-06-09 12:54] carlosGimeno opened #481 "[GitOps Docs] Review and improve the current GitOps-docs"
# Review and improve the current Ops-docs

One of the missions of the Ops-docs subproject is to review the current Git-Ops documentation to make sure it is up to date and relevant. With that in mind, this issue's purpose is to keep track of the review process.

## Colaboration and how to colaborate

Please feel free to review and update  any of the documents which have not been reviewed yet (don't

[2022-06-09 12:54] carlosGimeno commented on #481
/kind documentation

[2022-06-09 12:54] carlosGimeno commented on #481
/good-first-issue

[2022-06-09 12:54] sesheta commented on #481
@carlosGimeno:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](http

[2022-06-13 13:57] mmazur commented on #19
/lgtm

[2022-06-13 13:58] mmazur commented on #19
/approve

[2022-06-13 13:59] sesheta commented on #19
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/19#issuecomment-1153950712" title="Approved">mmazur</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contri

[2022-06-13 14:03] mmazur commented on #19
/retest

[2022-06-13 16:13] lisa commented on #20
/lgtm
/approve

[2022-06-13 16:14] sesheta commented on #20
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/20#issuecomment-1154115886" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contribu

[2022-06-13 16:16] sesheta commented on #24
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
To complete the [pull request process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process), please ask for approval from **mmazur** after the PR has been reviewed.

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first

[2022-06-13 17:28] lisa commented on #13
/hold cancel

[2022-06-13 20:47] jeremyeder commented on #13
/lgtm

[2022-06-14 10:18] mmazur commented on #24
/retest

[2022-06-14 10:21] mmazur commented on #24
/verify-owners

[2022-06-14 13:10] dastergon commented on #13
/lgtm

[2022-06-14 13:20] sesheta commented on #13
[APPROVALNOTIFIER] This PR is **APPROVED**

Approval requirements bypassed by manually added approval.

This pull-request has been approved by:

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process)

[2022-06-14 16:01] sesheta commented on #423
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-14 16:01] sesheta commented on #425
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-16 18:48] sesheta commented on #451
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-17 14:23] #467 closed

[2022-06-17 14:25] HumairAK commented on #474
closing this out as adding a new store _had_ resolved the issue of not enough space for new obc's (until we hit [this](https://github.com/operate-first/operations/issues/479), but that's a different issue).

[2022-06-17 14:25] #474 closed

[2022-06-17 18:40] sesheta commented on #439
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-17 18:40] sesheta commented on #439
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/439#issuecomment-1159141834):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-06-17 18:40] #439 closed

[2022-06-19 19:01] sesheta commented on #460
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-20 16:02] sesheta commented on #457
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 22:02] sesheta commented on #461
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-22 18:52] lisa commented on #8
/lgtm

[2022-06-22 18:55] harshad16 commented on #469
The rick cluster argocd applications are removed
and rick cluster is detached from rhacm.

Things left to be done:
- [ ]  update the docs with respect to rick to morty
- [ ] Other components having rick needs update as well(like observatorium , kafka )

[2022-06-22 19:15] harshad16 commented on #469
oh that what i meant from my second point :smile:

[2022-06-22 19:16] HumairAK commented on #376
@larsks was added the operate-first ldap group, which alotted him access to the operate-first bitwarden collection.

[2022-06-24 14:05] HumairAK commented on #451
/remove-lifecycle rotten

[2022-06-24 17:09] HumairAK opened #483 "Various alerts firing related machine config on Smaug cluster"
Alerts in question:
---
[ClusterOperatorDegraded](https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts/1936982513?alertname=ClusterOperatorDegraded&condition=Degraded&endpoint=metrics&instance=128.52.62.253%3A9099&job=cluster-version-operator&name=machine-config&namespace=openshift-cluster-version&pod=cluster-version-operator-64f9c8cf6d-77bnp&reason=MachineConfigDa

[2022-06-24 17:10] HumairAK commented on #483
There's also:
[NTOPodsNotReady](https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts/2322231055?alertname=NTOPodsNotReady&condition=true&container=kube-rbac-proxy-main&endpoint=https-main&job=kube-state-metrics&namespace=openshift-cluster-node-tuning-operator&pod=tuned-2sbrn&service=kube-state-metrics&severity=warning)
Pod tuned-2sbrn is not ready. Review the "Even

[2022-06-24 17:29] HumairAK commented on #483
Another node related alert:

Pod tuned-2sbrn is not ready. Review the "Event" objects in "openshift-cluster-node-tuning-operator" namespace for further details.

Not sure if this is related, but the pod `tuned-2sbrn` was scheduled on node [oct-03-07-compute](https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/cluster/nodes/oct-03-07-compute) which has scheduling disabled

[2022-06-25 15:47] quaid commented on #457
/close

[2022-06-25 15:47] #457 closed

[2022-06-25 15:47] sesheta commented on #457
@quaid: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/457#issuecomment-1166313566):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-06-25 21:41] sesheta commented on #107
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-25 21:41] #107 closed

[2022-06-25 21:41] sesheta commented on #107
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/107#issuecomment-1166366018):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-06-25 22:02] sesheta commented on #417
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-26 06:49] sesheta commented on #445
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-26 10:01] hpdempsey commented on #445
This project is completed.

[2022-06-26 10:01] #445 closed

[2022-06-27 12:30] dastergon commented on #8
/lgtm

[2022-06-27 14:31] #417 closed

[2022-06-27 15:43] jeremyeder commented on #8
/lgtm

[2022-06-27 16:02] sesheta commented on #464
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-27 17:57] lisa commented on #8
/approve

[2022-06-27 17:57] sesheta commented on #8
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/8#issuecomment-1167685290" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contribut

[2022-06-28 06:41] durandom commented on #483
@HumairAK @larsks do we have a runbook on how to connect to the BIOS / IPMI of those machines? So that others can look too, if needed.

[2022-06-28 13:52] HumairAK commented on #483
` oct-03-07` was successfully rejoined with the cluster resolving most of the alerts. The following still remain:

machine smaug-dq8j2-worker-0-4c66k does not have valid node reference
Warning
[MachineWithNoRunningPhase](https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts/1701457005?alertname=MachineWithNoRunningPhase&api_version=machine.openshift.io%2Fv1beta1&con

[2022-06-28 13:52] HumairAK commented on #483
@durandom no runbook for this, will let @larsks respond on the feasibility of this.

[2022-06-29 03:54] brizrobbo commented on #23
Hey @lisa .

Looks like we have got to the end of this feedback cycle. How would you feel about approving and merging?

[2022-06-29 05:25] dastergon commented on #23
/lgtm

[2022-06-29 09:39] sesheta commented on #23
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/23#pullrequestreview-1023045537" title="LGTM">Gaikanomer9</a>*, *<a href="https://github.com/operate-first/sre/pull/23#pullrequestreview-1015273994" title="Approved">tombentley</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s

[2022-07-01 03:41] sesheta commented on #447
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-01 03:42] #447 closed

[2022-07-01 03:42] sesheta commented on #447
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/447#issuecomment-1171897914):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-02 09:42] sesheta commented on #448
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-02 09:42] sesheta commented on #350
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-02 09:42] sesheta commented on #448
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/448#issuecomment-1172869897):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-02 09:42] #448 closed

[2022-07-02 09:42] sesheta commented on #350
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/350#issuecomment-1172869903):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-02 09:42] #350 closed

[2022-07-03 03:42] sesheta commented on #449
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-03 03:42] sesheta commented on #450
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-03 03:42] #449 closed

[2022-07-03 03:42] #450 closed

[2022-07-03 03:42] sesheta commented on #449
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/449#issuecomment-1173005390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-03 03:42] sesheta commented on #450
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/450#issuecomment-1173005392):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-04 15:34] HumairAK opened #484 "[INCIDENT][Emea/Morty] - Morty cluster is down"
### Clusters Affected

Morty

### Users Affected

All users of morty cluster. Including everyone using morty ODF object buckets (s3).

### Incident Description

Hello Operate First Cloud users.

We are investigating an issue with Morty cluster. Currently the cluster is unavailable, all users of this cluster are affected. Please note that this includes everyone using Morty S3 storage buckets. If yo

[2022-07-04 15:36] HumairAK commented on #484
@rbo @durandom

[2022-07-04 15:42] rbo commented on #484
Let's have a look

[2022-07-04 15:48] rbo commented on #484
Execute reset via hetzner console

[2022-07-04 15:48] rbo commented on #484
Server is available again via ssh

[2022-07-04 15:49] rbo commented on #484
[code]

[2022-07-04 15:49] rbo commented on #484
[code]

[2022-07-05 15:33] HumairAK opened #485 "[INCIDENT][OSC-Cl1>] - OSC-CL1 Console down"
### Clusters Affected

osc-cl1

### Users Affected

All osc-cl1 users, including trino, superset, jupyterhub, kfp tekton, and other ODH users.

### Incident Description

Hello Operate First Users,

We're investigating an ongoing incident with osc-cl1. Currently console access is down, and potentially other areas as well. We will update this thread as the incident progresses.

### Relevant Links

-

[2022-07-05 17:30] #485 closed

[2022-07-08 03:42] sesheta commented on #444
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-08 03:42] #444 closed

[2022-07-08 03:42] sesheta commented on #444
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/444#issuecomment-1178511012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-09 00:42] sesheta commented on #440
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-09 00:42] #440 closed

[2022-07-09 00:42] sesheta commented on #440
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/440#issuecomment-1179445576):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-09 18:50] sesheta commented on #446
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-10 19:03] sesheta commented on #219
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-13 17:39] sesheta commented on #25
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/25#pullrequestreview-1036434520" title="Approved">brizrobbo</a>*, *<a href="https://github.com/operate-first/sre/pull/25#pullrequestreview-1037741285" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/

[2022-07-14 18:51] sesheta commented on #425
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-18 14:08] HumairAK opened #486 "[osc-cl2] Openmetadata mysql database crashing"
Pod culprit:
https://console-openshift-console.apps.odh-cl2.apps.os-climate.org/k8s/ns/openmetadata/pods

Error:

Rebooting the storage PVC will probably fix this issue, and is non-destructive. OM will just re-ingest everything from trino again, only user data and tokens will be lost which can be easily created. But we should investigate for the root cause first.

[2022-07-18 14:14] HumairAK commented on #486
Fix recommended by @redmikhail

The problem was that mysql did not have sufficient storage, preenting mysqld from starting. Increasing the pvc size resolved the issue.

[2022-07-18 14:14] #486 closed

[2022-07-18 16:44] HumairAK commented on #479
This should be largely resolved. Though we were never able to determine the root cause.
The buckets are now being created. There was a bit of delay, however we were able to reduce the delay in creation by increasing the resources attributed to odf.

Buckets are created as expected, and can be read from and written to.

We have engineers continuing to look into this matter on the stability of odf i

[2022-07-18 16:44] #479 closed

[2022-07-19 19:33] HumairAK opened #488 "Provide Cluster admin and hashicorp OSC access to LF foundation"
Give cluster admin level access for osc-cl1 and osc-cl2 to [rynofinn](https://github.com/rynofinn) and [rynofinn](https://github.com/rynofinn). As well as vault admin access for osc.

Adding them to these groups should do the job:
https://github.com/operate-first/apps/blob/master/cluster-scope/overlays/prod/moc/smaug/groups/vault-osc-admins.yaml
https://github.com/operate-first/apps/blob/master/cl

[2022-07-19 21:51] sesheta commented on #460
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 16:38] HumairAK commented on #479
@guymguym, @dannyzaken and others investigated the odf instanced and provided an analysis on delayed db_cleaner queries which can be found here: https://github.com/noobaa/noobaa-core/issues/7015

[2022-07-22 00:51] sesheta commented on #461
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-22 12:21] rbo commented on #469
Power off all nodes in hetzner console.

[2022-07-22 12:28] rbo commented on #469
ToDos:
 - [ ] Cancel the servers
 - [ ] Remove DNS Records

[2022-07-22 12:30] rbo commented on #469
Servers are down, start Cancellation

[2022-07-22 12:34] rbo commented on #469
- [X] Server canceled
- [X] DNS Recordes delete
- [X] Hetzner Cloud LB & VM deleted.

[2022-07-22 12:38] rbo commented on #469
From my point of view. We are done...

[2022-07-22 12:38] #469 closed

[2022-07-25 17:19] #488 closed

[2022-07-29 13:47] redmikhail opened #489 "Openmetadata Airflow scheduler pod is crashing due to logs filesystem saturation"
Size of PVC for airflow scheduler is set to 1GB and fills up fairly quickly causing Airflow Scheduler pod to fail. By default AirFlow doesn't have limit on number of logs that it can produce.  In following article https://stackoverflow.com/questions/43548744/removing-airflow-task-logs/54195537#54195537 users had to resort to writing script that would rotate/clean log files. As temporary solution w

[2022-07-31 16:05] sesheta commented on #470
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-31 19:05] sesheta commented on #471
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 19:05] sesheta commented on #456
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-01 19:05] sesheta commented on #465
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 18:51] Gregory-Pereira opened #490 "[INCIDENT][Morty] - Morty is currently down"
### Clusters Affected

Morty

### Users Affected

all of EMEA using morty

### Incident Description

Hello Operate-first Users,

The morty cluster is currently down. We will be updating you with more information is available.

### Relevant Links

https://console-openshift-console.apps.morty.emea.operate-first.cloud/

/cc @rbo

[2022-08-02 19:57] rbo commented on #490
[code]

Router of morty is offline.

[2022-08-02 19:58] rbo commented on #490
Send CTRL+ALT+DEL to the server via hetzner managment ui

[2022-08-02 20:05] rbo commented on #490
CTRL+ALT+DEL, doesn't solve the problem.

Execute an automatic hardware reset

[2022-08-02 20:06] rbo commented on #490
Created a ticket for remote console access

[2022-08-02 20:14] rbo commented on #490
Requested for 10 AM 2022-08-03 - gn8

[2022-08-03 04:51] rbo commented on #490
From hetznzer:

@durandom please have a look, it looks like the hetzner bills are not paid.

[2022-08-03 07:00] durandom commented on #490
@rbo indeed, there's a hickup in the procurement pipeline. Working on it

[2022-08-03 08:19] durandom opened #491 "move workloads off of morty"
since morty is currently down and we only have a limited budget left to support this cluster, I want to move all workloads off of morty and to smaug.

https://github.com/operate-first/operations/issues/490

[2022-08-03 12:12] durandom commented on #491
cc @rbo

[2022-08-03 13:53] rbo commented on #491
- Server AX101 #1604861 morty-storage-0.emea.operate-first.cloud, Cancellation date 2 September 2022.
- Server AX101 #1604895 morty-storage-2.emea.operate-first.cloud, Cancellation date 2 September 2022.
- Server AX101 #1604901 morty-storage-1.emea.operate-first.cloud, Cancellation date 2 September 2022.

[code]

[2022-08-03 15:26] Gregory-Pereira commented on #490
Morty is currently accessible again. Can someone confirm we can close this incedent?

[2022-08-06 11:43] rbo commented on #490
If it works for you of curse.

[2022-08-07 16:06] sesheta commented on #422
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-07 16:06] sesheta commented on #388
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-08 16:17] HumairAK commented on #490
@rbo morty is still inaccessible for me and others

[2022-08-08 17:24] Gregory-Pereira commented on #490
unsure why, can someone share information on how it is inaccessible, or what information they get back? For reference I am connecting without the VPN from NA. My logs:
[code]

[2022-08-08 21:45] sesheta commented on #446
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-08 21:45] #446 closed

[2022-08-08 21:45] sesheta commented on #446
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/446#issuecomment-1208644937):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-08-09 15:56] mh21 commented on #27
/lgtm

[2022-08-09 19:43] jeremyeder commented on #27
/approve

[2022-08-09 19:43] sesheta commented on #27
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/27#issuecomment-1209801856" title="Approved">jeremyeder</a>*, *<a href="https://github.com/operate-first/sre/pull/27#pullrequestreview-1066986535" title="Approved">mh21</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-

[2022-08-09 21:55] sesheta commented on #219
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-10 16:06] sesheta commented on #416
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-10 17:12] sesheta commented on #28
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
To complete the [pull request process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process), please ask for approval from **jeremyeder** after the PR has been reviewed.

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-f

[2022-08-10 17:27] HumairAK commented on #416
I think

[2022-08-10 17:27] #416 closed

[2022-08-11 19:06] sesheta commented on #421
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-12 16:20] quaid commented on #26
@uffish it looks good, just some small corrections I recommend.

We do have some style guide materials that are not easy to find, l'll get back to you on that.

[2022-08-12 17:10] uffish commented on #26
/approve

[2022-08-12 17:10] sesheta commented on #26
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/26#issuecomment-1213335904" title="Approved">uffish</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contri

[2022-08-15 15:45] sesheta commented on #425
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-15 15:45] #425 closed

[2022-08-15 15:45] sesheta commented on #425
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operations/issues/425#issuecomment-1215201082):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-08-15 16:06] sesheta commented on #468
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 16:06] sesheta commented on #475
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 17:25] HumairAK opened #492 "etcdGRPCRequestsSlow alerts firing on Smaug"
Find alerts here: https://console-openshift-console.apps.smaug.na.operate-first.cloud/monitoring/alerts?rowFilter-alert-state=firing&rowFilter-alert-source=platform

Not sure the cause. This page may prove useful for diagnosing the issue: https://runbooks.prometheus-operator.dev/runbooks/etcd/etcdgrpcrequestsslow/

[2022-08-15 17:29] HumairAK commented on #490
It seems to be working now, further discussion on decommissioning can take place here: https://github.com/operate-first/operations/issues/491

[2022-08-15 17:29] #490 closed

[2022-08-15 17:33] Gregory-Pereira commented on #491
/assign

[2022-08-15 18:11] HumairAK commented on #492
fyi @larsks

[2022-08-18 14:43] SamoKopecky commented on #475
/remove-lifecycle stale

@larsks Is this still relevant?

[2022-08-18 14:44] SamoKopecky commented on #471
/remove-lifecycle stale

[2022-08-18 14:45] SamoKopecky commented on #470
/remove-lifecycle stale

[2022-08-18 14:47] SamoKopecky commented on #468
/remove-lifecycle stale

@HumairAK Are the acceptance criteria satisfied? Is there more work to be done on this?

[2022-08-18 14:48] SamoKopecky commented on #465
/remove-lifecycle stale

@HumairAK Is this still relevant?

[2022-08-18 14:49] SamoKopecky commented on #464
/remove-lifecycle stale

[2022-08-18 14:50] SamoKopecky commented on #461
/remove-lifecycle rotten

[2022-08-18 14:51] SamoKopecky commented on #460
/remove-lifecycle rotten

@sallyom Is this still relevant?

[2022-08-18 14:52] SamoKopecky commented on #456
/remove-lifecycle stale

[2022-08-18 15:59] Gregory-Pereira opened #493 "[INCIDENT][<Smaug/OBCs] - <Overflowing OBCs cause connection issues resulting in 504>"
### Clusters Affected

Smaug

### Users Affected

All prow users and `opf-observatorium` users who are attempting to access logs.

### Incident Description

Hello Operate-First Users,

We have been encounter issues with OBCs, and our S3 buckets getting filled. As they are close to overflowing, connection time to the buckets usually exceeds the time limit which results in a 504 error. This currentl

[2022-08-18 19:57] Gregory-Pereira commented on #388
@HumairAK, whats the status of this? Happy to help if this is still a priority and has not been dealt with. If so, could you share which dashboard are you referring to? Also not sure as to the context of adding first and last names, why and to where?

[2022-08-18 20:33] Gregory-Pereira commented on #421
Can confirm that the current image of operate-first's argocd: `v2.1.3-1` is using kustomize version: `v4.3.0`. Should i create a new image with kustomize version `v4.4.0`? I have constructed a new image using the kustomize binary v4.4.0 available here: https://quay.io/repository/grpereir/argocd. If we are still interested I can push it as a tag to the operate-first quay.io.

[2022-08-18 20:33] Gregory-Pereira commented on #421
/remove-lifecycle stale

[2022-08-18 20:35] Gregory-Pereira commented on #422
@HumairAK, is this still a priority? Maybe it could be something to revisit as we go about researching ACM for use in our monitoring stack? Would be happy to help if this is something we are still working on.
/remove-lifecycle stale

[2022-08-18 20:56] larsks commented on #421
If we are building a new image I would upgrade to whatever is the current release (which appears to be 4.5.7 at the moment).

[2022-08-19 10:40] durandom commented on #364
re-opening this issue, since I want to onboard the IONOS clusters

[2022-08-19 17:38] HumairAK commented on #492
The alerts seem to have resolved by themselves, we still do not know what caused them.

[2022-08-19 17:38] #492 closed

[2022-08-21 19:08] sesheta commented on #473
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-22 13:39] HumairAK commented on #422
not currently a priority, yet  -- still something we would like to do

[2022-08-23 07:36] durandom opened #494 "Onboard jerry"
jerry is a new cluster at IONOS
the deployment was done via https://github.com/operate-first/ionos-openshift/tree/main/terraform-ocp

now following https://www.operate-first.cloud/apps/content/notebooks/onboarding_new_cluster.html

the completion of this issue should also result in completion of https://github.com/operate-first/operations/issues/364

- [ ] https://github.com/operate-first/apps/pul

[2022-08-24 14:00] tumido commented on #475
Taking over this one :slightly_smiling_face:

[2022-08-24 14:13] HumairAK commented on #468
Alert repo is currently not in use, let's close this out, as we are likely to overhaul / re-discuss how we handle alerting in the coming weeks.

[2022-08-24 14:13] #468 closed

[2022-08-24 19:16] SudoBrendan opened #32 "Idea: reorganize with directories"
Hey all,

I'm curious if having a more rigid directory structure in this repo might help keep stuff organized better and make resources in it more discoverable.

Off the top of my head, core concepts of SRE that come to mind are:

1. `/getting-started` (what is SRE, why is it important, etc)
2. `/observability` (SLO/SLI/SLA, metrics, monitoring, alerting, dashboarding, etc)
3. `/process` (anything

[2022-08-25 05:24] schwesig commented on #494
/area storage
/kind onboarding
/sig community
/sig operations
/triage accepted

[2022-08-25 05:29] schwesig commented on #494
/kind documentation

[2022-08-25 05:30] schwesig commented on #494
/kind user-story

[2022-08-25 14:03] tumido opened #495 "Investigate manual approval on operators"
Some operators on Infra cluster are complaining that they are turned into `Manual` approval even though they are set to `Automatic`... Hitting the same old thing again.

![image](https://user-images.githubusercontent.com/7453394/186684463-521423ba-a96f-46f2-9e3a-f88ea7a577b1.png)

[2022-08-25 17:09] #495 closed

[2022-08-29 00:59] Gregory-Pereira commented on #491
Before beginning the decommissioning, I wanted to ideally backup all the Morty `OBCs` into Smaug, and if not at least re-create them there. I ran into some issues in terms of the backing up as almost every OBC in Morty either had the incorrect credentials saved in Openshift or were empty.  I generated a script which is as follows in accordance with the docs on getting external access to the Bucket

[2022-08-29 12:31] rbo commented on #491
Cancellation of storage server happened end of the week. If needed I can try to revoke the cancellation

@HumairAK please clarify this in the SIG-Ops meeting. I can try to attend.

[2022-08-29 12:52] harshad16 commented on #491
@Gregory-Pereira  Seems like the connection and data is available when i tried to check on the OBC's in morty.
The secrets from openshift morty seems to be working.
1. smaug-image-registry
[code]
2. ci-prow
[code]

[2022-08-29 17:52] HumairAK commented on #493
From cluster ops meeting:

* Perform benchmarking against pv’s
  * If issues exist in pv’s we can get confirmation that there may be an underlying storage issue (instead of just noobaa specific)
* Create simple reproducer
  * E.g. create OBC, write to obc, confirm delays exist in this minimal case (eliminate all other unrelated variables)

[2022-08-29 17:53] HumairAK commented on #493
Maybe unrelated, but we note that this issue occurred in the same time range that the OBC connection delays were occurring:

https://github.com/operate-first/operations/issues/492

[2022-08-29 19:29] Gregory-Pereira commented on #493
/assign

[2022-08-30 17:49] codificat commented on #456
/cc @erikerlandson
for awareness (this is the Custom Notebook Image dev work mentioned in the last OS-C meeting)

[2022-08-30 21:10] Gregory-Pereira commented on #491
Seems I was correcting using the wrong route as there were mutliple instances of s3 storage backed by different backing storage. After connecting again I was able to verify the sizing of existing data in each of the buckets on morty:
[code]
Of these, I am told there are only a few aciton items.
1. `opf-morty-datacatalog-noobaa` should be recreated in smaug
2. `opf-morty-datacatalog` should be `mir

[2022-08-30 22:31] Gregory-Pereira commented on #472
@humairAK I believe we are moving away from this, can you confirm? If so can we close this?

[2022-08-31 11:33] tumido opened #496 "Infra cluster fails to apply NodeNetworkConfigurationPolicies"
Originally reported by @larsks:

_Originally posted by @larsks in https://github.com/operate-first/apps/pull/2286#pullrequestreview-1091209654_

I've discovered there's probably more to it and the issue goes a deeper:

[code]

The NESE policy fails on:

[code]

[2022-08-31 16:38] nerdalert commented on #496
Hi @tumido I got pointed at this issue to see if we could assist.

A few quick thoughts:
- Is it possible the parent iface `eno1` is part of a bond? Changing the parent/base-iface to the bond (ex. bond0) instead of a tail in that pairing.
- Is it possible `eno1` is not managed by NetworkManager but via ip link? [Bugzilla-2058292](https://bugzilla.redhat.com/show_bug.cgi?id=2058292)
- Try setting t

[2022-09-01 13:25] tumido commented on #496
@nerdalert Thank you for reaching out! :) That seems to be it!

At first, I've checked if the `eno1` is not managed by NM. `nmcli device` was showing it as:

[code]

Then I've checked if `eno1` is set to `bond` type for whatever reason, but it was correctly typed as `ethernet`:

[code]

Then I've tried applying the change from [BZ 2017623](https://bugzilla.redhat.com/show_bug.cgi?id=2017623) as yo

[2022-09-01 15:37] #496 closed

[2022-09-01 15:48] Gregory-Pereira opened #497 "[INCIDENT][Smaug] - Smaug facing networking issues"
### Clusters Affected

Smaug

### Users Affected

Everyone using smaug.

### Incident Description

Hello Operate-First Users,

Smaug is currently facing some networking issues. It has been identified something is wrong with the switches Smaug is using. It seems that it's not completely inaccessible, which would imply to me that only some of the switches are affected, but more information on this w

[2022-09-01 16:25] naved001 commented on #497
We have a couple of brocade switches in a fabric that connect to our public network provider. These switches are quite old and it appears that they may be failing.

For now, the switches are up, but looks like there are intermittent network issues. It might take us until next week while we work with our network providers to move the fibers to a more reliable set of switches.

We are tracking this

[2022-09-01 19:09] sesheta commented on #429
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-03 19:17] Gregory-Pereira commented on #493
We are experiencing issues connecting to some OBCs ([as previously documented](https://github.com/operate-first/operations/issues/493)). Here is the process of working through this issue.

First it should be determined wether this is something specific to those namespace or due to the load / size of the s3 bucket in question. To determine this, I first reconfirmed the previously documented 504 con

[2022-09-16 19:08] elmiko commented on #33
not sure why the last line is changed, maybe github's editor did that?

[2022-09-21 16:19] bparees commented on #34
@jeremyeder ptal

[2022-09-27 13:12] bparees commented on #34
@david-martin wdyt?

[2022-09-27 13:45] david-martin commented on #34
/lgtm

/approve

[2022-09-27 13:45] sesheta commented on #34
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/34#issuecomment-1259534599" title="Approved">david-martin</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/

[2022-09-27 13:58] david-martin commented on #34
Thanks @bparees 👍

[2022-09-28 14:39] schwesig commented on #32
/assign @tumido

[2022-09-28 14:43] schwesig commented on #33
/assign @schwesig

[2022-09-28 14:44] schwesig commented on #33
/lgtm
/approved

[2022-09-28 14:44] sesheta commented on #33
[APPROVALNOTIFIER] This PR is **APPROVED**

Approval requirements bypassed by manually added approval.

This pull-request has been approved by:

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process)

[2022-10-05 13:06] sesheta commented on #36
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
**Once this PR has been reviewed and has the lgtm label**, please ask for approval from lisa by writing `/assign @lisa` in a comment. For more information see:[The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process).

The full list of commands accep

[2022-10-05 13:21] jeremyeder commented on #36
/lgtm

[2022-10-05 13:32] lisa commented on #36
I guess the bot isn't going to merge from Jeremy's /lgtm? Alright...

[2022-10-05 19:20] jeremyeder commented on #37
/lgtm

[2022-10-05 19:58] lisa commented on #37
/approve

[2022-10-05 19:58] sesheta commented on #37
[APPROVALNOTIFIER] This PR is **APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/37#issuecomment-1268902808" title="Approved">lisa</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request process is described [here](https://git.k8s.io/community/contribu

[2022-10-23 20:29] sesheta commented on #38
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
**Once this PR has been reviewed and has the lgtm label**, please assign amfred for approval by writing `/assign @amfred` in a comment. For more information see:[The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process).

The full list of commands acc

[2022-10-24 03:05] quaid opened #39 "Convert `sre` content to Jupyter Notebook"
We need this done and looking clean by 08:00 am EDT on Tuesday 25 October.

@schwesig are you available to help me with this? I would start the PR but then I'd end up down the rabbit hole.

We can check with @lisa for the table of contents, and @jeremyeder wants to keep an eye on this.

[2022-10-24 13:12] schwesig commented on #39
- [x] convert operate-first/sre to a jupyter notebook
- [ ] create a link on the operate-first.cloud website

[2022-10-24 16:42] schwesig commented on #39
created the jbook, tested it locally, all fine.
need to activate and script the publishing workflow.

[2022-10-24 17:17] jeremyeder commented on #38
lgtm

[2022-10-24 18:48] jeremyeder commented on #39
you have this staged anywhere we can review?

[2022-10-24 19:20] quaid opened #40 "Prep prior to OpenShift Commons Gathering (25 Oct 2022 08:00 EDT)"
Checklist of items to create or complete:

- [x] Update `README` to reflect shift to become SIG SRE -- #42
- [x] Create `sig-roadmap.md` #38
- [x] Landing page is https://operate-first.cloud/sig-sre or https://op1.st/sig-sre
  - [x] https://op1.st/sig-sre working
  - [x] https://www.operate-first.cloud/sre working (/sre because the repo is /sre, couldn't find quickfix to change)
  - [x] https://gi

[2022-10-24 19:29] quaid commented on #38
Can you repeat with the magic slash please?

[2022-10-24 19:29] lisa opened #41 "Create main discussion group `sig-sre@groups.operate-first.cloud`"

[2022-10-24 21:42] schwesig commented on #39
in my fork, working on the PR
need to activate some background switches
https://github.com/schwesig/sre/tree/20221024_createjnb

[2022-10-24 21:57] schwesig commented on #43
fixes https://github.com/operate-first/sre/issues/39

[2022-10-24 22:09] quaid commented on #43
/lgtm
/approve

[2022-10-24 22:22] schwesig commented on #40
@quaid - I created op1.st for shortening links.
what do you need for shorts?

[2022-10-24 23:59] schwesig commented on #39
the jupyter book should be deployed on
https://www.operate-first.cloud/sre/
the workflow went through fine
https://github.com/operate-first/sre/actions/runs/3317029147

but it isn't ... I need to check again all details

[2022-10-25 00:19] schwesig commented on #40
[op1.st/sre-presentation](https://op1.st/sre-presentation)
for now linking to the repo operate-first/sre, but this can be changed very fast (under 10 minutes)

svg:
![QR_https___op1 st_sre-presentation](https://user-images.githubusercontent.com/89909507/197653834-11151137-ccf2-498d-8b36-e73a29586a14.svg)

png:
![QR_https___op1 st_sre-presentation](https://user-images.githubusercontent.com/89909507

[2022-10-25 00:21] quaid commented on #39
Let's do one tweak while you're at it -- make the path to /sig-sre/ so the URL is https://operate-first.cloud/sig-sre/

[2022-10-25 00:28] hlipsig commented on #42
LGTM

[2022-10-25 00:30] quaid opened #45 "Short URL and QR code for OpenShift Commons Gathering"
My apologies for not having done this as an issue to start so @schwesig wouldn't have to duplicate effort.

This short URL is more specific and reusable, the hyphen is to keep in the common style:

op1.st/sig-sre

It should point to:

operate-first.cloud/sig-sre/

(I thought about having a stand-alone landing page but it's better to have the main page do the work for us.)

/assign @schwesig

[2022-10-25 02:11] quaid commented on #45
QR code I generated that links to https://op1.st/sig-sre:

![op1 st--sig-sre](https://user-images.githubusercontent.com/112760/197665543-1f301580-b378-4d70-8d87-89860e7d3656.png)

[2022-10-25 03:29] hlipsig commented on #38
Lgtm

[2022-10-25 06:10] cattias commented on #46
https://source.redhat.com/groups/public/service-delivery/service_delivery_wiki/incident_management_process

[2022-10-25 06:11] cattias commented on #46
@jeremyeder can you review and see if it can be merged ?
thanks

[2022-10-25 07:34] sesheta commented on #47
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
**Once this PR has been reviewed and has the lgtm label**, please assign amfred for approval by writing `/assign @amfred` in a comment. For more information see:[The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process).

The full list of commands acc

[2022-10-25 07:35] codificat commented on #47
/lgtm

[2022-10-25 08:14] schwesig commented on #40
operate-first.cloud/sre/
is working

[2022-10-25 08:24] schwesig commented on #40
qrcode for
https://op1.st/sig-sre

svg
![QR_https___op1 st_sig-sre](https://user-images.githubusercontent.com/89909507/197722683-d09727d2-883e-4bc2-8523-6182cf2f984d.svg)

png
![QR_https___op1 st_sig-sre](https://user-images.githubusercontent.com/89909507/197722690-8f920b65-1d93-4667-b8eb-7b4cd36ffa98.png)

[2022-10-25 09:26] schwesig commented on #39
unfortunately, it is not as easy (i couldn't find an easy way, help appreciated) to freely change the /sig to /sig-sre/
publishing with github pages is pretty hard coded to the name of the repo.

everything behind the repo name is free of choice
example
operate-first.cloud/sre/what-i-like
but operate-first.cloud/sre is fix.

my current recommandation, hence the time, stay with sre,
and using the s

[2022-10-25 10:49] schwesig commented on #45
done
[op1.st/sig-sre](https://op1.st/sig-sre) -->
[operate-first.cloud/sre](https://operate-first.cloud/sre)

![QR_https___op1 st_sig-sre](https://user-images.githubusercontent.com/89909507/197753915-ba0efbd5-0389-4410-b528-319efb605bc2.svg)
![QR_https___op1 st_sig-sre](https://user-images.githubusercontent.com/89909507/197753919-835c5970-f4c4-4a59-9720-cd9bf53bd659.png)

[2022-10-25 10:49] #45 closed, assigned to schwesig

[2022-10-25 11:51] sesheta commented on #42
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/42#pullrequestreview-1154664077" title="Approved">schwesig</a>*
**Once this PR has been reviewed and has the lgtm label**, please assign amfred for approval by writing `/assign @amfred` in a comment. For more information see:[The Kubernetes Code Review Process

[2022-10-25 12:29] sesheta commented on #48
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
**Once this PR has been reviewed and has the lgtm label**, please assign mmazur for approval by writing `/assign @mmazur` in a comment. For more information see:[The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process).

The full list of commands acc

[2022-10-25 13:14] quaid commented on #49
/assign @jeremyeder @schwesig

[2022-10-25 13:23] schwesig commented on #49
/approve

[2022-10-25 13:23] sesheta commented on #49
[APPROVALNOTIFIER] This PR is **APPROVED**

Approval requirements bypassed by manually added approval.

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/49#issuecomment-1290545665" title="Approved">schwesig</a>*

The full list of commands accepted by this bot can be found [here](https://go.k8s.io/bot-commands?repo=operate-first%2Fsre).

The pull request p

[2022-10-26 15:14] quaid commented on #50
/lgtm
/approve

[2022-10-26 15:14] sesheta commented on #50
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/50#issuecomment-1292204798" title="Approved">quaid</a>*
**Once this PR has been reviewed and has the lgtm label**, please assign gaikanomer9 for approval by writing `/assign @gaikanomer9` in a comment. For more information see:[The Kubernetes Code Review Proce

[2022-10-26 15:47] sesheta commented on #51
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by: *<a href="https://github.com/operate-first/sre/pull/51#pullrequestreview-1156811055" title="Approved">schwesig</a>*
**Once this PR has been reviewed and has the lgtm label**, please assign amfred for approval by writing `/assign @amfred` in a comment. For more information see:[The Kubernetes Code Review Process

[2022-10-26 16:14] quaid commented on #41
Finished:  https://lists.operate-first.cloud/archives/list/sig-sre@lists.operate-first.cloud/

[2022-10-27 15:52] sesheta commented on #52
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by:
**Once this PR has been reviewed and has the lgtm label**, please assign lisa for approval by writing `/assign @lisa` in a comment. For more information see:[The Kubernetes Code Review Process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process).

The full list of commands accepte

[2022-10-27 15:54] schwesig commented on #52
tested locally

![image](https://user-images.githubusercontent.com/89909507/198338840-1207e60c-179b-43ef-9edd-624615d5476c.png)

![image](https://user-images.githubusercontent.com/89909507/198339008-442afac8-9940-4793-9409-5cabbd5ba8f9.png)

[2022-10-27 17:44] codificat commented on #52
/lgtm

[2022-11-07 18:56] quaid commented on #40
Event completed successfully.

Note that not all tasks were completed (or needed for the event, in the end)

[2022-11-07 18:56] #40 closed, assigned to lisa, quaid, jeremyeder, schwesig